.set-password-page {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
}

.set-password-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.set-password-left {
  height: 100vh;
  width: 30%;
  background-color: #4741f9;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.set-password-left-up {
  height: 50%;
  width: 100%;
}

.set-password-left-down {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.set-password-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem;
  font-size: 0.8rem;
}

.set-password-logo-img {
  height: 3rem;
  width: 3rem;
  background-image: url("https://www.investtplus.com/Img-Vid/investtplus%20logo.jpg");
  background-size: contain;
  border-radius: 50%;
}

.set-password-monolog {
  margin: 3rem 2rem;
}

.set-password-mono {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  margin-top: 5px;
  width: 20%;
  height: 2px;
  background-color: #fff;
}

.set-password-img {
  height: 30vmax;
  background-image: url(./img/man_doubt.png);
  background-size: cover;
  background-position: center;
}

.set-password-cc {
  margin: 2rem;
  font-size: 0.8rem;
}

.set-password-right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.set-password-right-up {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.set-password-right-up p {
  color: #454545;
  font-weight: 600;
}

.set-password-right-up a {
  color: #454545;
  text-decoration: none;
}

.set-password-right-down {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-password-content {
  width: 60vmin;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-password-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.set-password-content p {
  margin-top: 2vh;
  font-size: 0.7rem;
}

.set-password-content form {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  gap: 2vh;
}

.set-password-content form input {
  padding: 1.5vh 1vw;
  border: none;
  border-bottom: solid #454545e5 2px;
}

.set-password-content form button {
  padding: 2vh 2vw;
  background-color: #4741f9;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.set-password-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2vh;
}

.set-password-content li {
  font-size: 0.7rem;
  margin-bottom: 1vh;
}

@media (max-width: 768px) {
  .set-password-container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    width: 100%;
  }

  .set-password-left {
    width: 100%;
    height: auto;
  }

  .set-password-left-down {
    display: none;
  }

  .set-password-right {
    width: 100%;
  }

  .set-password-content {
    width: 80%;
    margin: 2rem auto;
  }
}